// Settings
// --------



// Styles
// ------

#intro {
	background-image: linear-gradient(65deg, hf-color('darker') 10%, hf-color('mid') 100%);

	h1 {
		color: hf-color('primary');
	}

	h2,
	h3 {
		color: hf-color('white');
	}
}
