// Settings
// --------

$intro-menu-breakpoint: 720px !default;


// Styles
// ------

#intro {
	position: relative;
	background-image: linear-gradient(65deg, hf-color('darker') 10%, hf-color('mid') 100%);

	h1 {
		color: hf-color('primary');
	}

	h2,
	h3 {
		color: hf-color('white');
	}

	@include hf-from($intro-menu-breakpoint) {

		.menu {
			position: absolute;
			top: hf-gutter('lg');
			right: hf-gutter('lg');
		}
	}

	@include hf-until($intro-menu-breakpoint) {

		.menu {
			margin-top: hf-gutter('lg');
		}
	}
}
