// Paragraph
// ---------

body, .p1 {
	font-family: hf-font('primary');
	font-weight: hf-font-weight('primary', 'light');
	font-size: 1em;
	line-height: (30px / hf-convert($hf-font-size, px));
	letter-spacing: -0.02em;
	text-transform: none;
}


// Headings
// --------

h1, .h1 {
	font-family: hf-font('primary');
	font-weight: hf-font-weight('primary', 'semibold');

	@include hf-responsive((
		'mobl': (font-size: em(34px)),
		'tabl': (font-size: em(42px)),
		'desk': (font-size: em(50px))
	));

	line-height: 1;
	letter-spacing: -0.06em;
	text-transform: uppercase;
}

h2, .h2 {
	font-family: hf-font('primary');
	font-weight: hf-font-weight('primary', 'regular');

	@include hf-responsive((
		'mobl': (font-size: em(24px)),
		'tabl': (font-size: em(28px))
	));

	line-height: (35px / 28px);
	letter-spacing: -0.04em;
	text-transform: none;
}

h3, .h3 {
	font-family: hf-font('primary');
	font-weight: hf-font-weight('primary', 'semibold');
	font-size: em(16px);
	line-height: 1;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}


// Link
// ----

a {
	color: hf-color('primary');
	text-decoration: none;
	transition: color $transition;

	&:hover,
	&:focus {
		color: hf-color('secondary');
	}
}
