// Paragraph
// ---------

body, .p1 {
	font-family: hf-font('primary');
	font-weight: hf-font-weight('primary', 'light');
	line-height: (30px / hf-convert($hf-font-size, px));
	letter-spacing: -0.02em;
	text-transform: none;
}

.p1 {
	font-size: 1em;
}

p,
ul,
ol {
	margin: 1em 0;
}


// Headings
// --------

h1, .h1 {
	font-family: hf-font('primary');
	font-weight: hf-font-weight('primary', 'regular');

	@include hf-responsive((
		'mobl': (font-size: em(32px)),
		'tabl': (font-size: em(36px)),
		'desk': (font-size: em(42px))
	));

	line-height: 1;
	letter-spacing: -0.06em;
	text-transform: none;
}

h1 {
	margin: 1em 0;
}

h2, .h2 {
	font-family: hf-font('primary');
	font-weight: hf-font-weight('primary', 'regular');

	@include hf-responsive((
		'mobl': (font-size: em(24px)),
		'tabl': (font-size: em(28px))
	));

	line-height: (35px / 28px);
	letter-spacing: -0.04em;
	text-transform: none;
}

h2 {
	margin: 1em 0;
}

h3, .h3 {
	font-family: hf-font('primary');
	font-weight: hf-font-weight('primary', 'semibold');
	font-size: em(16px);
	line-height: 1;
	letter-spacing: -0.02em;
	text-transform: uppercase;
}

h3 {
	margin: 1.2em 0;
}


// Link
// ----

a {
	color: hf-color('primary');
	text-decoration: none;
	transition: color $transition;

	&:hover,
	&:focus {
		color: hf-color('secondary');
	}
}


// Other
// -----

small, .small {
	font-size: em(14px);
	font-weight: hf-font-weight('primary', 'regular');
}
